<div id="footer">
    <h4>Copyright <%= new Date().getFullYear() %> <a href="https://tylerelk.github.io/tylewis" target="_blank"><span class="highlight">Ty Lewis</span></a></h4>
</div>
</body>
</html>