:root {
  /* colors */
  --red: #bf1a2f;
  --white: #f4f4f6;
  --black: #0f1108;
}

html *{
    list-style-type: none;
    text-decoration: none;
}

ul, li {
    padding: 0;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
    border-bottom: 1px solid var(--red);
}

h3,
h4,
h5,
p,
input,
button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

section {
  width: 70%;
  margin: 0 auto;
}

#title-area {
  border-radius: 20px;
  border: 1px solid var(--black);
  margin: 1rem auto;
  padding: 1rem 3rem;
  box-shadow: 1px 3px 10px 2px lightgrey;
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  margin: 0;
}

#media-list > li{
    border-radius: 20px;
    border: 1px solid var(--black);
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 1px 3px 10px 2px lightgrey;
}

.entry-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.entry-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-title {
  margin: 0;
    font-size: 40px;
    border-bottom: 1px solid var(--red);
    width: max-content;
}

button {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

button:hover {
  transform: rotateY(360deg);
  transition: 1000ms;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min-content;
  gap: 1rem;
}

.album-cover {
  width: 25%;
  height: 25%;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 2px lightgrey;
  transform: scale(0.9);
  transition: 300ms ease-out;
}

.album-cover:hover {
  transform: scale(1.0);
}

#footer {
  width: auto;
  margin: auto;
  padding: 0 1rem;
}

.highlight {
  color: var(--red);
}
