:root {
  /* colors */
  --red: #bf1a2f;
  --white: #f4f4f6;
  --black: #0f1108;
}

html *{
    list-style-type: none;
    text-decoration: none;
}

ul, li {
    padding: 0;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
    border-bottom: 1px solid var(--red);
}

h3,
h4,
h5,
p,
input,
button,
label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

section {
  width: 60%;
  margin: 0 auto;
}

#title-area {
  border-radius: 20px;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 1px 3px 10px 2px lightgrey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  flex: 1;
}

.large-button {
  width: max-content;
  border-radius: 20px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  outline: none;
}

.show-hide {
  transition: 1s;
  position: absolute;
  z-index: 1;
}

.title {
  font-size: 60px;
  margin: 0;
}

.title-container * {
  width: max-content
}

.title-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#entry-edit {
  height: 100%;
  width: 100%;
  padding: 0;
}

#media-list > li{
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 1px 3px 10px 2px lightgrey;
}

.entry-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.entry-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-title {
  margin: 0;
    font-size: 40px;
    border-bottom: 1px solid var(--red);
    width: max-content;
}

#entry {
  position: relative;
  transition: 1s;
  opacity: 0%;
  margin: 0;
  width: 100%;
}

#entry table {
  width: 100%;
}

#entry input[type="text"], #entry select {
  width: 100%;
}

button {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: 1s;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.material-symbols-outlined:hover {
  transform: rotateY(360deg);
  transition: 1000ms;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min-content;
  gap: 1rem;
}

.album-cover {
  width: 25%;
  height: 25%;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 2px lightgrey;
  transform: scale(0.9);
  transition: 300ms ease-out;
}

.album-cover:hover {
  transform: scale(1.0);
  border: 2px solid var(--red)
}

#footer {
  width: auto;
  margin: 1rem;
  padding: 1rem;
}

.highlight {
  color: var(--red);
}

.inline {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

/* view-mode settings */
.notes-edit {
  opacity: 0%;
  transition: 1s;
  transform: translateX(150px);
}

#edit-note-form {
  opacity: 0%;
  transition: 1s;
  transform: translateX(150px);
}

.note {
  box-shadow: 1px 3px 10px 2px lightgrey;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
}

/* Temp styles */